{
  "symbols": ["BTCUSDT", "ETHUSDT"],
  "klines_intervals": [
    {"interval": "1m", "limit": 1000},
    {"interval": "5m", "limit": 1000},
    {"interval": "15m", "limit": 1000},
    {"interval": "30m", "limit": 1000},
    {"interval": "1h", "limit": 1000}
  ],
  "macd_intervals": [
    {"interval": "1m", "timedelta_minutes": 900},
    {"interval": "5m", "timedelta_minutes": 900},
    {"interval": "15m", "timedelta_minutes": 900},
    {"interval": "30m", "timedelta_minutes": 900},
    {"interval": "1h", "timedelta_minutes": 900}
  ],
  "job_interval_minutes": 1
}